#root {
  padding-top: 16px;
  background-color: #e7e7e7;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  width: 100vw;
  height: 100vh;
}

#page-title {
  padding: 16px;
}

#top-row-content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  max-height: 510px;
}

h3, h4{
  color: #4075FF;
}

