h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.2rem;
}

#tableWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    padding: 0;

    border: 1px solid black;
}

.tableHeaderRow, .submittedTrade {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

